/* src/index.css */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Tell Tailwind to apply dark variants when the '.dark' class is present */
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-sans: 'Inter', sans-serif;
  
  /* Custom dark mode colors */
  --color-dark-bg: #000000;
  --color-dark-surface: #121212;
  --color-dark-border: #333333;
  --color-dark-text: #ededed;
}